[submodule "amundsendatabuilder"]
	path = amundsendatabuilder
	url = https://github.com/ponizvezdochka/amundsendatabuilder
	branch = master
[submodule "amundsenfrontendlibrary"]
	path = amundsenfrontendlibrary
	url = https://github.com/ponizvezdochka/amundsenfrontendlibrary
	branch = master
[submodule "amundsenmetadatalibrary"]
	path = amundsenmetadatalibrary
	url = https://github.com/ponizvezdochka/amundsenmetadatalibrary
	branch = master
[submodule "amundsensearchlibrary"]
	path = amundsensearchlibrary
	url = https://github.com/ponizvezdochka/amundsensearchlibrary
	branch = master
[submodule "amundsencommon"]
	path = amundsencommon
	url = https://github.com/ponizvezdochka/amundsencommon
	branch = master
[submodule "amundsengremlin"]
	path = amundsengremlin
	url = https://github.com/amundsen-io/amundsengremlin
	branch = master
[submodule "amundsenrds"]
	path = amundsenrds
	url = https://github.com/amundsen-io/amundsenrds.git
